main {
    min-height: 90vh;
}
.navbar {
    height: 60px;
}
.navbar-toggler {
    border-color: white;
}
.navbar-toggler i {
    color: white;
}
section:not(.hero) {
    padding: 50px 10px;
}
.section-header {
    margin-bottom: 3rem;
}
.hero {
    min-height: 80vh;
    height: 600px;
    background-position: center center;
    background-size: cover;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    transition: all 0.2s;
    color: #111111 !important;
}
.nav-link:hover {
    color: #647bff !important;
}
.hero .hero-text {
    color: #fff;
}
.hero .hero-text .text-title {
    font-size: 3rem;
}
.hero .hero-text p {
    color: #ccc;
}
.divider {
    width: 70px;
    height: 3px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 255, 0.9),
        rgba(0, 0, 139, 0.9)
    );
}
.students .card {
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.students img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.students .student-name {
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: #555;
}
.students .student-description {
    font-size: 0.7rem;
    color: #777;
    letter-spacing: 1px;
}
.students .card-student {
}
a {
    transition: all 0.2s;
}
a:hover {
    text-decoration: none;
}
.students .card-student:hover .card {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.student img {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.text-blue {
    color: #6814e1;
}
.articles .card-img-top {
    height: 200px;
    object-fit: cover;
}
.articles {
    background-color: #fff;
}
.articles .card {
    border: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.articles .card-body {
}
.articles .card-title {
    font-size: 1.3rem;
}
.articles .card-title a {
    color: #545454;
}
.articles .card-title a:hover {
    color: #4299e1;
}
.articles .card-description {
    font-size: 0.8rem;
    color: #777;
}
.card-footer {
    background-color: #fff;
    border: none;
    font-size: 12px;
    color: #666;
}
.card-footer span {
    margin-left: 5px;
}
.card-detail {
    background-color: #fff;
    border: none;
    font-size: 0.8rem;
    color: #666;
}
.ml-10 {
    margin-left: 3rem;
}
footer {
    background-color: #545454;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
}
.article .card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: none;
}
.article img {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .sm\:mt-5 {
        margin-top: 15px;
    }
    .navbar-collapse {
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 999;
        left: 0px;
        padding: 0px 30px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    }
    .navbar-collapse .nav-link {
        transition: all 0.2s;
        color: #444 !important;
    }
    .navbar-collapse .nav-link:hover {
        margin-left: 10px;
    }
    .article-imgs {
        margin-top: 1rem;
        border-radius: 50%;
        display: inline-flex;
        position: relative;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
    }
    .article-img {
        border-radius: 50% !important;
        width: 7rem !important;
        height: 7rem !important;
    }
}
.article-cards {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}
.footer-article-cards {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}
.article-img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
/* card */
.article-wrapper {
    width: 85%;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: white;
}

.article-wrapper:hover {
    -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    border-color: #0578c5;
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}

.article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
}

.rounded-lg {
    /* class tailwind */
    border-radius: 10px;
}

.article-wrapper:hover .project-hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a6c2f0;
}

.project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.project-title {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    /* depend de la font */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-type {
    background: #b2b2fd;
    color: #1a41cd;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px;
}

.project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.container-project {
    width: 100%;
    background: rgb(255, 255, 255);
}
.container-project img {
    aspect-ratio: 3/2;
    object-fit: contain;
}
/* end card */
/* loader */
.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    position: relative; /* Buat posisi loader tetap */
    top: 50%; /* Posisi tengah secara vertikal */
    left: 50%; /* Posisi tengah secara horizontal */
    transform: translate(-50%, -50%); /* Pusatkan loader */
}

.custom-loader::before,
.custom-loader::after {
    content: "";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side, #1692f8 92%, rgba(179, 53, 53, 0));
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}

.custom-loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
}

@keyframes s2 {
    100% {
        transform: rotate(0.5turn);
    }
}
/* end loader */
/* card soal */

.btn-soal {
    font-family: monospace;
    font-size: 1.5rem;
    color: #443199;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #443199;
    background: #fafafa;
    box-shadow: 3px 3px #443199;
    cursor: pointer;
    margin: 35px 0;
}
.btn-soal:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
/* this card is inspired form this - https://georgefrancis.dev/ */

.card-soals {
    --border-radius: 0.75rem;
    --primary-color: #7a57fa;
    --secondary-color: #3c3852;
    width: 80%;
    font-family: "Arial";
    padding: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #fafafa;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
}

.card-soals > * + * {
    margin-top: 1.1em;
}

.card-soals .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
}

.card-soals .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.card-soals .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
}

.card-soals .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-soals svg {
    transition: 0.2s;
}

/* hover */
.card-soals:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
}

.card-soals:hover .card__arrow {
    background: #111;
}

.card-soals:hover .card__arrow svg {
    transform: translateX(3px);
}

/* profile */
.img-circle {
    border-radius: 50%;
}
.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 8rem;
    aspect-ratio: 1/1;
}
.card-primary.card-outline {
    border-top: 3px solid #435ebe;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}
.list-group-unbordered > .list-group-item {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.card-title-profile {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}
